@import "../styles/variables.scss";

body{
  position: relative;

  padding: 0px;
  margin: 0px;

  font-family: 'Libre Franklin', sans-serif;
}
*{
  box-sizing: border-box;
}
P,h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}
ul {
  list-style: none;
  
  margin: 0px;
  padding: 0px;
}
