.skills {
  background: #fffaf2;

  &__wrap {
    max-width: 1107px;
    width: 100%;

    padding: 93px 0px 145px 0px;
    margin: 0 auto;

    &__title {
      font-size: 24px;
      font-weight: bold;

      line-height: 29px;
    }
    .skills__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding-top: 86px;

      .skills__right-block {
        max-width: 635px;
        width: 100%;

        .cap__wrap {
          display: flex;
          justify-content: space-between;

          max-width: 505px;
          width: 100%;

          margin-bottom: 65px;

          .title__profile {
            font-weight: 600;
            font-size: 18px;

            line-height: 25px;
          }
          .text__profile {
            font-size: 18px;

            color: #333333;
            line-height: 25px;
          }
        }
        .scales__wrap {
          display: flex;

          margin-bottom: 21px;

          .scale__title-one {
            margin-right: 77px;

            font-weight: 600;
            font-size: 18px;

            line-height: 25px;
          }
          .scale__title {
            margin-right: 107px;

            font-weight: 600;
            font-size: 18px;

            line-height: 25px;
          }
          .scale__title-free {
            margin-right: 66px;

            font-weight: 600;
            font-size: 18px;

            line-height: 25px;
          }
          .line__scales {
            position: relative;

            width: 381px;
            height: 24px;

            background-color: #c66c49;
            &::before {
              content: "";
              position: absolute;
              left: 370px;

              width: 60px;
              height: 24px;

              background-color: #f5d6ab;
            }
          }
          .line__scales-two {
            position: relative;

            width: 351px;
            height: 24px;

            background-color: #c66c49;

            &::before {
              content: "";
              position: absolute;
              left: 350px;

              width: 90px;
              height: 24px;

              background-color: #f5d6ab;
            }
          }
          .line__scales-free {
            position: relative;

            width: 286px;
            height: 24px;

            background-color: #c66c49;
            &::before {
              content: "";
              position: absolute;
              left: 280px;

              height: 24px;
              width: 160px;

              background-color: #f5d6ab;
            }
          }
        }
        .tools__inner {
          display: flex;

          margin-bottom: 20px;

          .title__tools {
            margin-right: 143px;

            font-weight: 600;
            font-size: 18px;

            line-height: 25px;
          }
          .text__tools {
            font-size: 18px;

            line-height: 25px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .skills {
    &__wrap {
      padding: 93px 34px 140px 34px;
    }
  }
}

@media screen and (max-width: 1061px) {
  .skills__left-block {
    margin: 0 auto;
  }
  .skills__right-block {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1052px) {
  .skills__right-block {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .skills {
    .skills__wrap {
      padding: 50px 34px;

      .skills__title {
        text-align: center;
      }
      .skills__inner {
        padding-top: 19px;

        .skills__left-block {
          margin: auto;

          .skils__picture {
            width: 100%;
          }
        }
        .skills__right-block {
          margin: auto;
          padding-top: 26px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .skills__wrap {
    .skills__inner {
      .skills__right-block {
        .cap__wrap {
          max-width: 350px;
          margin: 0 auto 31px;

          .title__profile {
            font-weight: 600;
            font-size: 12px;

            line-height: 25px;
          }
          .text__profile {
            font-size: 12px;

            color: #333333;
            line-height: 25px;
          }
        }
        .scale__inner {
          display: flex;
          flex-direction: column-reverse;

          max-width: 350px;
          width: 100%;

          margin: auto;

          .scales__wrap {
            display: flex;

            margin-bottom: 21px;

            .scale__title-one {
              margin-right: 47px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }

            .scale__title {
              margin-right: 66px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }
            .scale__title-free {
              margin-right: 40px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }
            .line__scales {
              position: relative;

              width: 171px;
              height: 18px;

              background-color: #c66c49;
              &::before {
                content: "";
                position: absolute;
                left: 170px;

                width: 30px;
                height: 18px;

                background-color: #f5d6ab;
              }
            }
            .line__scales-two {
              position: relative;

              width: 165px;
              height: 18px;

              background-color: #c66c49;
              &::before {
                content: "";
                position: absolute;
                left: 165px;

                width: 44px;
                height: 18px;

                background-color: #f5d6ab;
              }
            }
            .line__scales-free {
              position: relative;

              width: 135px;
              height: 18px;

              background-color: #c66c49;

              &::before {
                content: "";
                position: absolute;
                left: 135px;

                height: 18px;
                width: 75px;

                background-color: #f5d6ab;
              }
            }
          }
          .tools__inner {
            display: flex;

            margin-bottom: 20px;

            .title__tools {
              margin-right: 88px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }
            .text__tools {
              font-size: 12px;

              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .skills__wrap {
    .skills__inner {
      .skills__right-block {
        .cap__wrap {
          max-width: 350px;

          margin: 0 auto 31px;
          .title__profile {
            font-weight: 600;
            font-size: 12px;

            line-height: 25px;
          }
          .text__profile {
            font-size: 12px;

            color: #333333;
            line-height: 25px;
          }
        }
        .scale__inner {
          display: flex;
          flex-direction: column-reverse;

          max-width: 350px;
          width: 100%;

          margin: auto;

          .scales__wrap {
            display: flex;

            margin-bottom: 21px;

            .scale__title {
              margin-right: 66px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }
            .scale__title-free {
              margin-right: 40px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }
            .line__scales {
              position: relative;

              width: 90px;
              height: 18px;

              background-color: #c66c49;

              &::before {
                content: "";
                position: absolute;
                left: 90px;

                width: 20px;
                height: 18px;

                background-color: #f5d6ab;
              }
            }
            .line__scales-two {
              position: relative;

              width: 100px;
              height: 18px;

              background-color: #c66c49;
              &::before {
                content: "";
                position: absolute;
                left: 90px;

                width: 30px;
                height: 18px;

                background-color: #f5d6ab;
              }
            }
            .line__scales-free {
              position: relative;

              width: 90px;
              height: 18px;

              background-color: #c66c49;

              &::before {
                content: "";
                position: absolute;
                left: 90px;

                height: 18px;
                width: 40px;

                background-color: #f5d6ab;
              }
            }
          }
          .tools__inner {
            display: flex;

            margin-bottom: 20px;
            .title__tools {
              margin-right: 88px;

              font-weight: 600;
              font-size: 12px;

              line-height: 25px;
            }
            .text__tools {
              font-size: 12px;

              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
